<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>API</title>
</head>
<body>
	<form class="" id="form" action="" method="post">
		<input type="text" id = "id" name="id" value="id"> <br>
		<input type="text" id = "name" name="name" value="name"><br>
		<input type="text" id = "email" name="email" value="email"><br>

		<input type="submit" id = "submit" name="submit" value="submit">
	  </form>
	
	  <div id= "display">

	  </div>
</body>

<script>
	
	var form = document.getElementById("form");

form.addEventListener("submit", function(e){

e.preventDefault();

var id = document.getElementById("id").value;
var name = document.getElementById("name").value;
var email = document.getElementById("email").value;

fetch('http://127.0.0.1:8000/updateuser/'+{id}+'/')
  .then(response => response.json())
  .then(data => document.getElementById("display").innerHTML= json);

})


</script>

</html>