{% extends "Accountsapp/base.html" %}




	{% block content %}
  {% if request.user.auth_token.key %}
  

		    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <span class="navbar-brand mr-4" >Welcome</span>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <!-- <a class="nav-item nav-link" href="">Home</a> -->
              <!-- <a class="nav-item nav-link" href="">About</a> -->
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if request.user.is_admin %}
              <a class="nav-item nav-link" href="{% url 'showusers' %}">Show users</a>
              {% endif %}
              <a class="nav-item nav-link" href="{% url 'updateuser' %}">Update Profile</a>
              <a class="nav-item nav-link" href="{% url 'logoutuser' %}">Logout</a>
            </div>
          </div>
        </div>
      </nav>

<div class= "container content-section" >
	
welcome home  {{request.user}}
<br>
Your token is {{ request.user.auth_token.key }}
</div>


{% endif %}

  
	{% endblock content %}
