{% extends "Accountsapp/base.html" %}


  {% block content %}
	{% if request.user.is_admin %}
	    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'registeruser' %}">All users </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <!-- <a class="nav-item nav-link" href="">Home</a> -->
              <!-- <a class="nav-item nav-link" href="">About</a> -->
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <!-- <a class="nav-item nav-link" href="#">Login</a>
              <a class="nav-item nav-link" href="#">Register</a> -->
            </div>
          </div>
        </div>
      </nav>
    </header>


<div class="container content-section" id="users" align="center">






<table class="table" id = "myTable">
  <thead class="thead-light">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">USERNAME</th>
      <th scope="col">EMAIL</th>
      <!-- <th scope="col">Handle</th> -->
    </tr>
  </thead>
  <tbody>
	
  </tbody>
</table>


</div>
<script type="text/javascript">


showusers();
		function showusers(){


			fetch('http://127.0.0.1:8000/drf_users/')
			.then(function(resp){

			return resp.json();	


			})
			.then(function(data){
			var users= document.getElementById("users");

				for (x in (data['USER_PROFILE'])  ){
						// returns emails
					// users.innerHTML += JSON.stringify(data['USER_PROFILE'][x]);

					toinsert = (data['USER_PROFILE'][x]);

					
					  var table = document.getElementById("myTable");
					  var row = table.insertRow(-1);
					  var cell1 = row.insertCell(0);
					  var cell2 = row.insertCell(1);
					  var cell3 = row.insertCell(2);
					  cell1.innerHTML = toinsert['id'];
					  cell2.innerHTML = toinsert['email'];
					  cell3.innerHTML = toinsert['username'];
					  
					
								

				}

			});

		};
</script>

{% else %}

	    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="#">Access denied </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'home-page' %}">Home</a>
              <!-- <a class="nav-item nav-link" href="">About</a> -->
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <!-- <a class="nav-item nav-link" href="#">Login</a>
              <a class="nav-item nav-link" href="#">Register</a> -->
            </div>
          </div>
        </div>
      </nav>
    </header>
	
		<div class="content-section container " align='center' >
		<h1>403</h1>
		<h2>Not this time, access forbidden!</h2>
		</div>



{% endif %}
{% endblock %}